@import '@/styles/mixins.scss';

.round-progress {
  display: flex;
  background-color: var(--color-bg-main);

  &__current-player {
    width: 200px;
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-deck-text);
  }

  &__player-name {
    font-size: 1.15em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__steps-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--color-passive);
    padding-right: 3rem;
  }

  &__step {
    padding: 1rem;

    &--is-active {
      background-color: var(--color-active);
    }
  }

  &__tool-btn {
    @extend %clear-button;

    padding: 0.1rem .75rem;
    @include transition(transform);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__tool-icon {
    color: var(--color-deck-text);
    width: 2.5rem;
    height: 2.5rem;
    @include transition(color);

    &--animation {
      animation: round 15s linear infinite;
    }

    &--is-active {
      color: var(--color-active);
    }
  }

  &__tool-wrapper {
    display: flex;
    border-right: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: gradient();
  }
}

@keyframes round {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}