@import '@/styles/mixins.scss';

.player-deck {
  $root: &;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 1;
  @include transition;

  user-select: none;
  margin: auto;
  color: var(--color-deck-text);

  &--current {
    grid-column: 2 / span 1;
    grid-row: 3;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    height: calc(var(--circle-radius) / 2);
    width: calc(var(--circle-radius) / 2);
    overflow: hidden;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    transform-origin: 50% 50%;
    @include circularPosition(200px, 90deg);
    @include rotateToCenter;
    @include transition;

    position: relative;
    cursor: pointer;

    &:hover, &:focus {
      border-width: 6px;
    }
  }

  &__icon-image {
    @include rotateToCenter(-1);
  }

  &__full-image {
    max-width: 100%;
  }
}
