@import '@/styles/mixins.scss';

.player-deck {
  $root: &;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  @include transition;

  user-select: none;
  margin: auto;
  color: var(--color-deck-text);

  &--current {
    grid-column: 2 / span 1;
    grid-row: 3;
  }
}
