@import '@/styles/mixins.scss';

.button {
  $root: &;

  @extend %clear-button;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: pointer;
  z-index: 3;

  @include controlBorderGradient;

  &__children {
    position: relative;
    z-index: 2;
    color: var(--color-deck-text);
    font-weight: 600;
  }

  &:disabled {
    cursor:  not-allowed;

    #{$root}__children {
      opacity: .65;
    }
  }

  &--view {
    &-filled {
      &:after {
        background-color: transparent;
      }

      #{$root}__children {
        color: var(--color-text); 
      }

      &:hover {
        &:before {
          background-position: 0 0;
        }
      }
    }
  }
}
