@import '@/styles/mixins.scss';

.conflct-zone {
  position: absolute;
  left: 0;
  top: 0;
  translate: 0% -25%;

  $zone-size: 130px;

  // @for $i from 1 through 5 {
  //   &:nth-child(#{$i}) {
  //     --angle: calc(150deg / 5 * #{$i});
  //   }

  //   rotate: calc(var(--angle) + 90deg);
  // }

  &__area {
    height: var(--circle-radius);
    width: var(--circle-radius);
    translate: 0% calc(#{$zone-size/2} + var(--circle-radius));
    @include transition;

    &--defend {
      --zone-color-rgb: 0, 128, 0;

      background: linear-gradient(to bottom, transparent 20%, rgba(var(--zone-color-rgb), .35), rgb(var(--zone-color-rgb)));
    }

    &--attack {
      --zone-color-rgb: 139, 0, 0;

      background: linear-gradient(to top, transparent 20%, rgba(var(--zone-color-rgb), .35), rgb(var(--zone-color-rgb)));
    }

    &--can-drop {
      @include boxShadow(.5rem, rgba(255, 255, 255, 0.5));
    }
  
    &--is-over {
      @include boxShadow(1rem, rgba(255, 255, 255, 0.85));
    }
  }

  &__spaceship-container {
    rotate: 0deg
  }
}