@import '@/styles/mixins.scss';

.settings-menu {
  transform: translateX(100%);
  width: 340px;
  max-width: 80vw;
  height: 100dvh;
  background-color: var(--color-bg-main);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 2rem;
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, .75);
  @include gradientBorder('left');

  display: flex;
  flex-direction: column;
  color: var(--color-deck-text);
  @include transition(transform);

  &__header {
    display: flex;
    align-items: center;
  }

  &__close-btn {
    margin-left: auto;
    @extend %clear-button;

    color: inherit;
    @include transition(transform);

    &:hover, &:focus {
      transform: scale(1.2);
    }
  }

  &__children {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__new-game-btn {
    margin-top: auto !important;
  }
}