@import '@/styles/mixins.scss';

.card-modal {
  --card-modal-offset: 1.2rem;

  position: fixed;
  width: calc(50vw - var(--card-modal-offset));
  height: calc(100vh - var(--card-modal-offset) * 2);
  top: var(--card-modal-offset);
  bottom: var(--card-modal-offset);
  @include transition(opacity);

  z-index: var(--z-100);
  opacity: 0;
  pointer-events: none;

  &--right {
    right: var(--card-modal-offset);
  }

  &--left {
    left: var(--card-modal-offset);
  }

  &--is-visible {
    opacity: 1;
  }

  &--is-less {
    --card-modal-offset: 2.8rem;
  }

  &__image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    inset: 0;
    margin: auto;
    @include dropShadow(1rem, rgba(0,0,0,1))
  }
}