:root {
  --color-text: #000000;
  --color-deck-text: #ffffff;
  --color-bg-main: #000000;
  --color-bg-secondary: #ffffff;
  --color-passive: #8fcbed;
  --color-active: #de9158;
  --color-passive-secondary: #79c4cb;
  --color-active-secondary: #f1d068;
  --color-error: #ff2600;
  --circle-radius: 160px;
  --items-count: 1;
  --decks-count: 1;
  --border-radius: 3px;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --log-width: 340px;
  --log-offset: 0px;
  --top-panel-height: 0px;
};