:root {
  --color-text: #000000;
  --color-deck-text: #ffffff;
  --color-bg-main: #000000;
  --color-passive: #8fcbed;
  --color-active: #de9158;
  --color-passive-secondary: #79c4cb;
  --color-active-secondary: #f1d068;
  --circle-radius: 160px;
  --items-count: 1;
  --decks-count: 1;
}