.spaceship {
  $size: 30px;

  width: $size;
  height: $size;
  border-radius: 100%;
  border: 2px solid white;
  flex-shrink: 0;
  margin-bottom: -$size / 2;
  background-color: var(--deck-color);

  &--is-dragging {
    opacity: 0.4;
  }

  &--is-warp {
    width: #{$size * 1.25};
    height: #{$size * 1.25};
  }
}