@import '@/styles/mixins.scss';

.game-log {
  background-color: var(--color-bg-main);
  color: var(--color-deck-text);
  @include gradientBorder('right');

  width: var(--log-width);
  top: var(--top-panel-height, 0);
  height: calc(100% - var(--top-panel-height, 0));
  position: fixed;
  left: 0;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
  transform: translateX(-100%);
  @include transition;

  display: flex;
  flex-direction: column;
  padding: 1rem 0 ;

  &--is-visible {
    visibility: visible;
    transform: translateX(0);
  }

  &__title {
    padding: .5rem 1rem;
    flex-shrink: 0;
  }

  &__list {
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
  }
}