@import '@/styles/mixins.scss';

.game-log {
  background-color: var(--color-bg-main);
  color: var(--color-deck-text);
  @include gradientBorder('right');

  width: var(--log-width);
  top: var(--top-panel-height, 0);
  height: calc(100% - var(--top-panel-height, 0));
  position: fixed;
  left: 0;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
  transform: translateX(-100%);
  @include transition;

  display: flex;
  flex-direction: column;

  &--is-visible {
    visibility: visible;
    transform: translateX(0);
  }

  &__title {
    padding: .75rem 1.25rem;
    flex-shrink: 0;
  }

  &__list {
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1.25rem;

    --bgRGB: 0, 0, 0;
    --bg: rgb(var(--bgRGB));
    --bgTrans: rgba(var(--bgRGB), 0);
    --shadow: rgba(241, 208, 104, 0.5); // --color-active-secondary
    
    background:
      linear-gradient(
        var(--bg) 30%,
        var(--bgTrans)
      ) center top,
      
      linear-gradient(
        var(--bgTrans), 
        var(--bg) 70%
      ) center bottom,
      
      radial-gradient(
        farthest-side at 50% 0,
        var(--shadow),
        rgba(0, 0, 0, 0)
      ) center top,
      
      radial-gradient(
        farthest-side at 50% 100%,
        var(--shadow),
        rgba(0, 0, 0, 0)
      ) center bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 24px, 100% 24px;
    background-attachment: local, local, scroll, scroll;

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  &__time {
    color: var(--color-secondary);
    display: inline-block;
    width: 8ch;
    font-family: monospace;
    font-size: 12px;
  }

  &__log-item {
    line-height: 140%;
  }
}