@import '@/styles/mixins.scss';

.select {
  position: relative;

  &__label {
    margin-bottom: .55rem;
  }

  & [class*='control'] {
    @include controlBorderGradient;
  }

  & [class*='MenuList'] {
    border: 1px solid transparent;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: gradient();
  }

  & [class*='indicatorSeparator'] {
    background-image: gradient(85deg);
  }
}