@import '@/styles/mixins.scss';

.spaceship-container {
  @include rotateToCenter;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 100%;

  &--is-warp {
    gap: 10px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
}
