@import '@/styles/mixins.scss';

.player-hand {
  $root: &;
  $play-btn-offset: 0.75rem;

  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 0 20px 2px;
  display: flex;
  align-items: flex-end;
  height: 0;
  max-width: 100%;
  transform: translateX(var(--log-offset));
  width: calc(100% - var(--log-offset));
  @include transition;

  &__hide-button {
    @extend %clear-button;

    padding: .15rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(scale);

    color: var(--color-bg-secondary);
    flex-shrink: 0;
    margin-left: .5rem;

    &--is-not-full-view {
      scale: -1;
    }
  }

  &__cards-list {
    display: flex;
    gap: 5px;
    @include transition(translate);

    position: relative;

    &--is-not-full-view {
      translate: 0 85%;
    }
  }

  &__card {
    height: 35vh;
    position: relative;

    &:hover, &:focus {
      #{$root}__play-btn-wrapper {
        translate: 0 calc(-100%);
        opacity: 1;
      }
    }
  }

  &__image {
    height: 100%;
    z-index: 2;
    position: relative;
  }

  &__play-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;

    // @include transition(translate, ease-in, 0.25s);
    padding-bottom: $play-btn-offset;
  }

  &__play-btn {
    width: 100%;
  }
}