@import '@/styles/mixins.scss';

.new-game-modal {
  min-width: 540px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__add-btn {
    margin-bottom: .5rem;
  }

  &__fields-group {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: .5rem;
  }

  &__field-select {
    width: 160px;
  }

  &__error {
    color: var(--color-error);
  }

  &__input {
    width: 255px;
  }

  &__count-select {
    width: 255px;
  }

  &__loader-block {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__loader {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  &__subtitle {
    color: var(--color-deck-text);
  }

  &__btn {
    margin-top: .5rem;
  }

  &__share {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__copy-to-clipboard {
    @extend %clear-button;

    color: var(--color-deck-text);
  }

  &__cancel-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
}