@import '@/styles/mixins.scss';

.planet {
  $root: &;

  border-radius: 100%;
  transform-origin: 50% 50%;
  @include circularPosition(var(--circle-radius), var(--angle));
  @include rotateToCenter;

  z-index: 1;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      --angle: calc(150deg / 5 * #{$i});
    }

    &__conflct-zone {
      rotate: calc(var(--angle) + 90deg);
    }
  }

  position: absolute;
  font-size: 4px;

  &__container {
    border-radius: 100%;
    position: relative;
    z-index: 2;
    @include transition(box-shadow);

    &--can-drop {
      @include boxShadow(1rem, rgba(255, 255, 255, 0.5));
    }
  
    &--is-over {
      @include boxShadow(1.25rem, rgba(255, 255, 255, 0.85));
    }
  }

  &__atmosphere {
    height: var(--circle-radius);
    width: var(--circle-radius);
    position: relative;
    background: radial-gradient(circle at 30% 50%, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 65%);
    border-radius: 100%;

    // be random
    box-shadow:
      inset .625em 0 2em -.125em var(--deck-color),
      inset -4.375em 0 3.125em 0 black,
      -0.3125em 0 0.625em -.25em var(--deck-color),
      0 0 45em 0 var(--deck-color);
    }

  &__surface{
    position: absolute; 
    height: 100%;
    width: 100%; 
    z-index: -1;
    background-size: cover;
    border-radius: 100%;

    // be random
    transform: rotate(24.3deg);
    animation: planetRotate calc(50 * .1s) linear infinite;
    animation-play-state: paused;
  }
}

@keyframes planetRotate {
  0%{
    background-position: 0% center;
  }

  100%{
    background-position: -200% center;
  }
}
